@using OGame.MVC.Areas.Game.Services
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
    var currentAction = ViewContext.RouteData.Values["action"].ToString();
}
<ul>
    @foreach (var controllerWithActions in NavigationCache.GetControllersWithActions())
    {
        var isControllerSelected = currentController == controllerWithActions.Name;
        <li>
            <a asp-area="Game" asp-controller="@controllerWithActions.Name" asp-action="Index" class="@(isControllerSelected ? "selected" : "")">@controllerWithActions.Name</a>
            @if (isControllerSelected)
            {
                <ul>
                    @foreach (var action in controllerWithActions.Actions)
                    {
                        var isActionSelected = currentAction == action.Name;
                        <li>
                            <a asp-area="Game" asp-controller="@controllerWithActions.Name" asp-action="@action.Name" class="@(isActionSelected ? "selected" : "") ml-2">@action.Name</a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>
